@model OnlineBookStore.Models.Product
@{
    ViewBag.Title = "Create";
}

<h2 class="text-md-center m-5">Add new Book</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @* @Html.ValidationSummary()*@
    <div class="container-fluid">

        <div class="container d-flex justify-content-center col-md-auto border rounded-2 p-3 shadow-lg">

            <div class="row w-50">
                <div class="col-6 mx-auto">


                    <div class="mb-2">
                        @Html.LabelFor(p => p.BookName, new { @class = "form-label" })
                        @Html.TextBoxFor(p => p.BookName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.BookName)
                    </div>


                    <div class="mb-2">
                        @Html.LabelFor(p => p.ISBN, new { @class = "form-label" })
                        @Html.TextBoxFor(p => p.ISBN, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.ISBN)
                    </div>
                    <div class="mb-2">
                        @Html.LabelFor(p => p.AuthorName, new { @class = "form-label" })
                        @Html.TextBoxFor(p => p.AuthorName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.AuthorName)
                    </div>





                    <div class="mb-2">
                        @Html.LabelFor(p => p.Publisher, new { @class = "form-label" })
                        @Html.TextBoxFor(p => p.Publisher, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.Publisher)
                    </div>
                </div>
                <div class="col-6">

                    <div class="mb-2">
                        @Html.LabelFor(p => p.Description, new { @class = "form-label" })
                        @Html.TextBoxFor(p => p.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.Description)
                    </div>

                    <div class="mb-2">
                        @Html.LabelFor(p => p.BookTypeId, new { @class = "form-label" })
                        @Html.DropDownListFor(p => p.BookTypeId, new SelectList(ViewBag.BookTypes, "Id", "BookTypeName"), "--Select--", new { @class = "form-select" })
                        @Html.ValidationMessageFor(p => p.BookTypeId)

                    </div>
                    <div class="mb-2">
                        @Html.LabelFor(p => p.Price, new { @class = "form-label" })
                        @Html.TextBoxFor(p => p.Price, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.Price)

                    </div>

                    <div class="mb-2">
                        @Html.LabelFor(p => p.PublishedDate, "Date", new { @class = "form-label" })
                        @Html.TextBoxFor(p => p.PublishedDate, new { @class = "form-control", type = "Date" })
                        @Html.ValidationMessageFor(p => p.PublishedDate)
                    </div>

                </div>

                <div class="col-12">
                    <input type="submit" id="BtnCreate" class="btn btn-primary" value="ADD" style="width:100%; margin-left:25%" />
                </div>


            </div>
        </div>
    </div>

}

@section Scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}



