@model OnlineBookStore.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}


@if (TempData["Alert"] != null)
{
    <div class="alert alert-danger">@TempData["Alert"]</div>
}

<h1 class="mt-3 d-flex justify-content-center">Welcome to Library</h1>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5 mt-5 border rounded-2 p-3">
        <div class="display-6 fw-semibold">Login</div>
        <hr />
        @using (Html.BeginForm())
        {
          //  @Html.AntiForgeryToken()
            //  @Html.ValidationSummary()
            <div class="mb-2">
                @Html.LabelFor(p => p.Username, new { @class = "form-label" })
                @Html.TextBoxFor(p => p.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Username)
            </div>
            <div class="mb-2">
                @Html.LabelFor(p => p.Password, new { @class = "form-label" })
                @Html.TextBoxFor(p => p.Password, new { @class = "form-control", type = "password" })
                @Html.ValidationMessageFor(p => p.Password)
            </div>

            <div class="mt-2">
                <input type="submit" id="btnSubmit" class="btn btn-primary" value="Login" />
            </div>
        }
        <hr />
        <div class="mt-3">
            <span>Need an Account? </span>@Html.ActionLink("Sign Up", "Register", "Accounts")
        </div>
    </div>
</div>

@section Scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}